<head>
    <title>Pac-12 North Division</title>
</head>

<body> <img src="http://x.pac-12.com/profiles/pac12/themes/pac12_foundation/images/pac12/logo.png" alt="Pac-12 logo"
        title="Pac-12 Home">
    <h3>Vote for your favorite Football Team</h3>
    <form action="http://courses.washington.edu/bimd233/bimd.php" method="post">

        <img src="https://x2.pac-12.com/cdn/ff/FIBesZCHOmNfoadyRYaPdfY5X9SF-EDzrOMWd9eeWCE/1587738615/public/logo-washington-color-2019.png"
            width="32" height="32">
        <input type="radio" name="team" value="Washington Huskies">Washington Huskies<br />

        <img src="https://x2.pac-12.com/cdn/ff/RpO-ROCfzYOo-JpEbolm3nF4v3U9AK_O1zcqQrKA6Vg/1590117159/public/styles/medium/public/washington-state-logo-color-out_2.png?itok=VLwTQe2y"
            width="32" height="32">
        <input type="radio" name="team" value="Washington Cougars">Washington Cougars<br />

        <img src="https://gostanford.com/images/logos/site/site.png" width="32" height="32">
        <input type="radio" name="team" value="Stanford Cardinals">Stanford Cardinals<br />

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/California_Golden_Bears_logo.svg/1200px-California_Golden_Bears_logo.svg.png"
            width="32" height="32">
        <input type="radio" name="team" value="California Bears">California Bears<br />

        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1b/Oregon_State_Beavers_logo.svg/1200px-Oregon_State_Beavers_logo.svg.png"
            width="32" height="32">
        <input type="radio" name="team" value="Oregon State">Oregon State Beavers<br />

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Oregon_Ducks_logo.svg/1200px-Oregon_Ducks_logo.svg.png"
            width="32" height="32">
        <input type="radio" name="team" value="Oregon">Oregon Ducks<br />

        <br />My State: <input type="text" name="state"> <br /> <input type="submit">
    </form>
</body>

</html>