<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="todo.css">
</head>

<body>
    <div class="container">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">HUSKY TODO LIST</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li id='selected' class="list-group-item">Focused!</li>
                    <li id='selected' class="list-group-item">Not focused</li>
                    <li id='deselected' class="list-group-item">Not focused</li>
                </ul>
            </div>
        </div>

    </div>

    <script src="todo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>