body {
    background: linear-gradient(
      to right,
      rgba(51, 255, 111, 1),
      rgba(5, 20, 255, 0.5)
    );
  }
  .container {
    background-color: darkgray;
    border: 10px solid #4b2e83;
    border-radius: 15px;
    width: 500px;
    margin-top: 20px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
  }
  
  .panel {
    margin: 20px auto;
    width: 400px;
  }
  
  .panel-title {
    color: white;
  }
  
  #selected {
    background-color: #4b2e83;
    color: white;
  }
  
  #deselected {
    background-color: #b7a57a;
    color: #4b2e83;
  }