<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="geometry.css">
</head>

<body>
    <h1>Testing Geometry</h1>

    <div class="container geometries">
        <div class="row">
            <div class="col">
                Radius
            </div>
            <div class="col">
                Area
            </div>
            <div class="col">
                Circumference
            </div>
            <div class="col">
                Diameter
            </div>
        </div>
        <div class="row" id="data">
        </div>
    </div>

    <script src="geometry.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>