<h3>Lab2c - Nest Lists</h3>
<ul>
  <li>
    <b>University of Washington, Seattle</b>
    <ol>
      <li>ENG 101
        <ol>
          <li>Week 1 - Module 1A
          </li>
          <li>
            Week 1 - Module 1B
          </li>
        </ol>
      </li>
      <li>CSS 101
        <ol>
          <li>Week 1 - Programming 1
          </li>
          <li>
            Week 1 - Lagnguage C/C++
          </li>
          <li>Week 2 - Prograamming 2
          </li>
          <li>
            Week 2 - Lagnguage Lab Java
          </li>
        </ol>
      </li>
    </ol>
    <ul>
      <li>
        <b>University of Washington, Tacoma</b>
        <ol>
          <li>ENG 101
            <ol>
              <li>Week 1 - Module 1A
              </li>
              <li>
                Week 1 - Module 1B
              </li>
            </ol>
          </li>
          <li>CSS 101
            <ol>
              <li>Week 1 - Programming 1
              </li>
              <li>
                Week 1 - Lagnguage C/C++
              </li>
              <li>Week 2 - Prograamming 2
              </li>
              <li>
                Week 2 - Lagnguage Lab Java
              </li>
            </ol>
          </li>
    </ul>
    <ul>
      <li>
        <b>University of Washington, Bothell</b>
        <ol>
          <li>ENG 101
            <ol>
              <li>Week 1 - Module 1A
              </li>
              <li>
                Week 1 - Module 1B
              </li>
            </ol>
          </li>
          <li>CSS 101
            <ol>
              <li>Week 1 - Programming 1
              </li>
              <li>
                Week 1 - Lagnguage C/C++
              </li>
              <li>Week 2 - Prograamming 2
              </li>
              <li>
                Week 2 - Lagnguage Lab Java
              </li>
            </ol>
          </li>
    </ul>