<head>

    <title>Write-Up</title>

</head>

<style>
    body {
        background-color: #F4EBD0;
        color: #006942;
        margin: 0 auto;
        padding: 2rem;
        width: 45%;
    }

    h1 {
        text-align: center;
    }

    h2 {
        color: #FFB7C5;
        text-align: center;
    }

    p {
        font-size: large;
    }

    #border {
        border: solid #006942 2px;
        padding: 3rem;
    }
</style>

<body>
    <div id="border">
        <h1>Capstone Write-Up</h1>

        <h2>Who am I as a designer</h2>

        <p>I currently am just a budding interactive experience designer and visual artist. But, my hope is that I will
            be
            able to make something that many people will enjoy looking at. I want to be able to make things that will
            make
            people look at it and think, "Wow, that was very interesting". They will look forward to seeing my works
            because
            of the enjoyment they get from looking at it.
        </p>

        <h2>Inspirations</h2>

        <p>
            I feel like the things that will be encompassed in my work, will be an amalgamation of things I enjoy seeing
            and
            doing. One such hobby I currently have is creating mechanical keyboards, and I really enjoy seeing what sort
            of
            builds people can create using the different boards and keycap sets. I feel like this hobby stemed from me
            enjoying desk setups. I really like how you can make a desk that looks professional, and welcoming at the
            same time.
        </p>

        <h2>My End Goal</h2>

        <p>
            For this project, I want to be able to create something that is similar to the type of desk setups I enjoy
            looking at.
            There are those setups that have RGB lights galore, but I feel like those setups are flashy only for the
            sake of
            being flashy. I want to create setups that someone will be comfortable sitting at for hours on end. This
            leads
            my end goal of projects to being something that people will enjoy viewing. Something warm and inviting, that
            tells the user "Welcome, please enjoy your stay!".
        </p>

        <h2>Updated Thoughts</h2>

        <p>
            After completing my Capstone Project, I feel like I was able to fulfill the my main goal of making it feel
            comfy and inviting. As I was making my portfolio, I came to understand how difficult it is to create a warm
            and welcoming website. You have to think about a lot of things like your color choice, fonts, and how you
            lay everything out. I really like the color pallete of the GMK Botanical keycap set, so that's what I
            decided to base the color pallete of my website after. I think it was able to produce the comfy feeling I
            wanted to portray. I hope you are able to enjoy my design as much as I did, it was fun learning front-end
            web design in BIMD 233.
        </p>
    </div>
</body>