<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="scorekeeper.css">
</head>

<body>
    <div class="container">

        <div class="card">
      
          <div class="card-body">
            <h4 class="card-title">SCORE KEEPER</h4>
            <h1><span id="p1Display">0</span> to <span id="p2Display">0</span></h1>
            <button id="p1">Player One</button>
            <button id="p2">Player Two</button>
            <hr>
            <p>Playing to: <span>5</span></p>
            <input type="number">
            <button id="reset">Reset</button>
          </div>
        </div>
      </div>

    <script src="scorekeeper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>