body {
    background: linear-gradient(
      to right,
      rgba(51, 255, 111, 1),
      rgba(5, 20, 255, 0.5)
    );
  }
  
  .container {
    margin-top: 25px;
    background-color: darkgray;
    border: 7px solid #4b2e83;
    border-radius: 15px;
    width: 500px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
  }
  
  .card {
    margin: 20px auto;
    width: 95%;
  }
  
  .winner {
    color: green;
  }
  
  h1 span {
    background-color: black;
    /*  font-family: 'Press Start 2P', cursive; */
    font-family: "Play", sans-serif;
    font-size: 48px;
    color: red;
    padding: 5px;
  }
  
  button {
    margin-top: 10px;
  }