<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="cars.css">
</head>

<body>
    <h1>Cars</h1>

    <div class="container cars">
        <div class="row">
            <div class="col">
                Make
            </div>
            <div class="col">
                Model
            </div>
            <div class="col">
                Year
            </div>
            <div class="col">
                Price
            </div>
        </div>
        <div class="row" id="data">
        </div>
    </div>
    
    <script src="cars.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>