<style>
    #myCanvas {
        border: 2px solid palegreen;
    }
</style>

<body>
    <canvas id="myCanvas" width="600" height="600" margins="20">
        Update your browser for Canvas!
    </canvas>
</body>

<script>
    var canvas = document.getElementById("myCanvas");
    var context = canvas.getContext("2d");

    context.moveTo(200, 20);
    context.lineTo(200, 580);
    context.lineWidth = 5;
    context.stroke();

    context.moveTo(400, 20);
    context.lineTo(400, 580);
    context.lineWidth = 5;
    context.stroke();

    context.moveTo(20, 200);
    context.lineTo(580, 200);
    context.lineWidth = 5;
    context.stroke();

    context.moveTo(20, 400);
    context.lineTo(580, 400);
    context.lineWidth = 5;
    context.stroke();

    context.moveTo(385,300);
    var x = 300, y = 300, radius = 85, angle = 2 * Math.PI;
    context.arc(x, y, radius, 0, angle);
    context.lineWidth = 5;
    context.stroke();

    context.moveTo(30, 30);
    context.lineTo(190, 190);
    context.lineWidth = 5;
    context.stroke();

    context.moveTo(190, 30);
    context.lineTo(30, 190);
    context.lineWidth = 5;
    context.stroke();

    context.moveTo(410, 410);
    context.lineTo(570, 570);
    context.lineWidth = 5;
    context.stroke();

    context.moveTo(570, 410);
    context.lineTo(410, 570);
    context.lineWidth = 5;
    context.stroke();
</script>