<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>The onclick Event</h1>

    <p>The onclick event is used to trigger a function when an element is clicked on.</p>

    <p>Click the button to trigger a function that will output "Hello World" in a p element with id="demo".</p>

    <button onclick="myFunction()">Click me</button>

    <p id="demo"></p>

    <div>
        <form>
            <input type="username" id="user">
            <br>
            <br>
            <input type="password" id="pass">
            <br>
        </form>
    </div>

    <script src="hello.js"></script>
</body>