<style>
    body {
        text-align: center;
        background-color: palegreen;
    }

    table {
        margin: auto;
        border-spacing: 200px;
    }
</style>

<body>
    <h1>Lab 6 Home Page</h1>

    <table>

        <tr>
            <th><img src="images/musicnote.png" alt="musicnote" width="200" height="200"> <br />
                <a href="songs.html">Songs</a>
            </th>

            <th><img src="images/videoicon.png" alt="videoicon" width="200" height="200"> <br />
                <a href="video.html">Videos</a>
            </th>
        </tr>

    </table>

</body>