<style>
    body {
        text-align: center;
        background-color: plum;
    }

    img {
        border: 2px solid black;
    }
</style>

<body>

    <h2>Keys 2 Life by Strider on Soundcloud</h2>

    <img src="https://i1.sndcdn.com/artworks-000170033107-7lro6o-t500x500.jpg" alt="Cyber City Response Team">
    <br/> <br/>
    <audio controls>
    <source src="audio/Keys 2 Life.mp3" type="audio/mp3">
    <source src="audio/Keys 2 Life.ogg" type="audio/ogg">
    </audio>

</body>