<style>
    body {
        text-align: center;
        background-color: paleturquoise;
    }
</style>

<body>

    <h2 text-align="center">Video by cottonbro from Pexels</h2>

    <video poster="images/train.png" width="440" height="640" controls preload>
        <source src="videos/production ID_4551881.mp4" type="video/mp4">
        <source src="videos/production ID_4551881.webm" type="video/webm">
        <source src="videos/production ID_4551881.ogv" type="video/ogv">
    </video>

</body>