body {
    background-color: darkgray;
    text-align: center;
}

.container {
    background-color: black;
    border: 7px solid #4b2e83;
    width: 600px;
    border-radius: 7px;
    margin-top: 20px;
}

.card {
    margin: 12px auto;
}

.card-title {
    text-align: center;
}

#even {
    background-color: white;
    color: black;
}

#odd {
    background-color: lightgray;
    color: black;
}

#bg-pic{
    text-align: center;
}

#bg-5books{
    text-align: center;
}

img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
