#weatherData {
    border: solid 2px #787878;
    color: lightgray;
}

#header {
    font-weight: bold;
    border: solid 2px #787878;
    border-collapse: collapse;
    color: white;
}

body {
    padding: 3rem;
    background: #202020;
}