<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <button onclick="mainFunction()">Populate Scores</button>
          <h3 class="panel-title">PAC-12 FOOTBALL STANDINGS
          </h3>
        </div>
        <div class="panel-body">
          <p id="team">NORTH DIVISION Conference Teams (2021-2022 Season)</p>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm college">School</div>
                <div class="col-sm conference">Conference</div>
                <div class="col-sm overall">Overall</div>
                <div class="col-sm overall">Last Game</div>
              </div>
            </li>
            <li class="list-group-item north-div">1</li>
            <li class="list-group-item north-div">2</li>
            <li class="list-group-item north-div">3</li>
            <li class="list-group-item north-div">4</li>
            <li class="list-group-item north-div">5</li>
            <li class="list-group-item north-div">6</li>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>