<table align = "center" border = "1" bgcolor = "black">

<tr>
    <th> <img src = "SmileySquare.svg" alt = "Smiley" title = "Smiley Square 32px" height = "32px"> </th>
    <th> <img src = "SmileySquare.svg" alt = "Smiley" title = "Smiley Square 64px" height = "64px"> </th>
    <th> <img src = "SmileySquare.svg" alt = "Smiley" title = "Smiley Square 128px" height = "128px"> </th>
    <th> <img src = "SmileySquare.svg" alt = "Smiley" title = "Smiley Square 256px" height = "256px"> </th>
    <th> <img src = "SmileySquare.svg" alt = "Smiley" title = "Smiley Square 512px" height = "512px"> </th>
</tr>

<tr>
    <th> <img src = "AppleLogo.svg" alt = "Apple" title = "Apple Logo 32px" height = "32px"> </th>
    <th> <img src = "AppleLogo.svg" alt = "Apple" title = "Apple Logo 64px" height = "64px"> </th>
    <th> <img src = "AppleLogo.svg" alt = "Apple" title = "Apple Logo 128px" height = "128px"> </th>
    <th> <img src = "AppleLogo.svg" alt = "Apple" title = "Apple Logo 256px" height = "256px"> </th>
    <th> <img src = "AppleLogo.svg" alt = "Apple" title = "Apple Logo 512px" height = "512px"> </th>
</tr>

</table>