body {
    background: linear-gradient(to right, rgba(51, 255, 111, 1), rgba(5, 20, 255,
                0.5));
}

div.container {
    background-color: darkgray;
    border: 7px solid #4b2e83;
    border-radius: 10px;
    width: 60%;
    margin-top: 20px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
}

div.card {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    width: 20%;
}

textarea {
    margin-top: 10px;
    height: 50%;
}