<table border="1" width="1000" height="400" cellpadding="18" cellspacing="0" bgcolor="blue">
    <tr>
        <td width="350" rowspan="7">
            <!-- Nested <table> for Stars → -->
            <table width="350" cellspacing="0" cellpadding="0" align="center" style="color:white; text-align:center; font-size: 
            22px;">
                <tr>
                    <td>&#x2606</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                </tr>

                <tr align="center">

                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                </tr>

                <tr>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                </tr>

                <tr align="center">

                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                </tr>

                <tr>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                </tr>

                <tr align="center">

                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                </tr>

                <tr>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                </tr>

                <tr align="center">

                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                </tr>

                <tr>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                    <td></td>
                    <td>&#9734</td>
                </tr>
            </table>
        </td>
        <!-- Rows for Alternating Stripes -->
        <td bgcolor="red" colspan="1"></td>
    </tr>

    <tr>
        <td bgcolor="white" colspan="1"></td>
    </tr>

    <tr>
        <td bgcolor="red" colspan="2"></td>
    </tr>

    <tr>
        <td bgcolor="white" colspan="1"></td>
    </tr>

    <tr>
        <td bgcolor="red" colspan="2"></td>
    </tr>

    <tr>
        <td bgcolor="white" colspan="1"></td>
    </tr>

    <tr>
        <td bgcolor="red" colspan="2"></td>
    </tr>

    <tr>
        <td bgcolor="white" colspan="2"></td>
    </tr>

    <tr>
        <td bgcolor="red" colspan="2"></td>
    </tr>

    <tr>
        <td bgcolor="white" colspan="2"></td>
    </tr>

    <tr>
        <td bgcolor="red" colspan="2"></td>
    </tr>

    <tr>
        <td bgcolor="white" colspan="2"></td>
    </tr>

    <tr>
        <td bgcolor="red" colspan="2"></td>
    </tr>
</table>