#area{
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
  width: 25%;
  height: 35%;
  background-color: #333333;
  color: white;
  border: solid 1px white;
  font-family: arial;
}

body{
  background-color: #121212;
  padding: 3rem;
}