div#flight-data {
    border: 2px dashed white;
    border-collapse: collapse;
    background: #525252;
    color: #fffd8d;
}

div.heading {
    background : #313131;
    color : #fdfa72;
    font-weight: bold;
}

body{
    padding: 3rem;
    background: black;
}

div.row{
    border: 2px dashed white;
    border-collapse: collapse;
}