<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>
        <h1>Hello, JavaScript! </h1>
        <form>
            <input type="username" id="user">
            <br>
            <br>
            <input type="password" id="pass">
            <br>
        </form>
    </div>

    <script src="hello.js"></script>
</body>