<style>

    body{
        font-family: Arial, Helvetica, sans-serif;
        color:gray;
    }

    table,th,td{
        border: 1px solid black;
        border-collapse: collapse;
        border-color: gray;
        width: 1000px;
        height: 40px;
        text-align: center;
    }

    #RGB{
        background-color: rgb(59.61%, 98.43%, 59.61%);
    }

    #RGB9{
        background-color: rgba(59.61%, 98.43%, 59.61%, .9);
    }

    #RGB8{
        background-color: rgba(59.61%, 98.43%, 59.61%, .8);
    }

    #RGB7{
        background-color: rgba(59.61%, 98.43%, 59.61%, .7);
    }

    #RGB6{
        background-color: rgba(59.61%, 98.43%, 59.61%, .6);
    }

    #RGB5{
        background-color: rgba(59.61%, 98.43%, 59.61%, .5);
    }

    #RGB4{
        background-color: rgba(59.61%, 98.43%, 59.61%, .4);
    }

    #RGB3{
        background-color: rgba(59.61%, 98.43%, 59.61%, .3);
    }

    #RGB2{
        background-color: rgba(59.61%, 98.43%, 59.61%, .2);
    }

    #RGB1{
        background-color: rgba(59.61%, 98.43%, 59.61%, .1);
    }

    #HSL{
        background-color: hsl(120, 93%, 79%);
    }

    #HSL9{
        background-color: hsla(120, 93%, 79%, .9);
    }

    #HSL8{
        background-color: hsla(120, 93%, 79%, .8);
    }

    #HSL7{
        background-color: hsla(120, 93%, 79%, .7);
    }

    #HSL6{
        background-color: hsla(120, 93%, 79%, .6);
    }

    #HSL5{
        background-color: hsla(120, 93%, 79%, .5);
    }

    #HSL4{
        background-color: hsla(120, 93%, 79%, .4);
    }

    #HSL3{
        background-color: hsla(120, 93%, 79%, .3);
    }

    #HSL2{
        background-color: hsla(120, 93%, 79%, .2);
    }

    #HSL1{
        background-color: hsla(120, 93%, 79%, .1);
    }
</style>

<body>

    <table>

        <tr>
            <th colspan="10">RGB vs. HSL Comparison</th>
        </tr>

        <tr>

            <td id="RGB">RGB</td>
            <td id="RGB9">a=0.9</td>
            <td id="RGB8">a=0.8</td>
            <td id="RGB7">a=0.7</td>
            <td id="RGB6">a=0.6</td>
            <td id="RGB5">a=0.5</td>
            <td id="RGB4">a=0.4</td>
            <td id="RGB3">a=0.3</td>
            <td id="RGB2">a=0.2</td>
            <td id="RGB1">a=0.1</td>

        </tr>

        <tr>

            <td id="HSL">HSL</td>
            <td id="HSL9">a=0.9</td>
            <td id="HSL8">a=0.8</td>
            <td id="HSL7">a=0.7</td>
            <td id="HSL6">a=0.6</td>
            <td id="HSL5">a=0.5</td>
            <td id="HSL4">a=0.4</td>
            <td id="HSL3">a=0.3</td>
            <td id="HSL2">a=0.2</td>
            <td id="HSL1">a=0.1</td>

        </tr>

    </table>

</body>