table{
    border:solid black 1px;
    border-collapse: collapse;
}

#starcell{
    background-color: darkblue;
}

#stars{
    text-align: center;
    align-items: center;
    border:solid black 1px;
    border-collapse: collapse;
    color: white;
    font-size: 22px;
    width: 400px;
}

.red_stripe_stripes{
    border:solid black 1px;
    border-collapse: collapse;
    background-color: red;
    width: 600px;
    height: 40px;
}

.white_stripe_stripes{
    border:solid black 1px;
    border-collapse: collapse;
    background-color: white;
    width: 600px;
    height: 40px;
}