<link rel="stylesheet" href="style.css">
<div class="map">
    <p>Zulu's Board Game Cafe</p>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5364.141978030556!2d-122.2019456497965!3d47.760677389876676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54900e6969a61ae7%3A0x877b6292770b3b3f!2sZulu&#39;s%20Board%20Game%20Cafe!5e0!3m2!1sen!2sus!4v1635215310632!5m2!1sen!2sus"
        width="603" height="450" frameborder="3" style="border:1;">
    </iframe>
</div>