<table align = "center" cellspacing = "15">

<tr>
    <th><img src = "https://images.pexels.com/photos/2524368/pexels-photo-2524368.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" 
        alt = "Minneapolis, United States" height = "256" width = "256" title = "Photo by Josh Hild from Pexels"> </th> 
        <!-- Source: Photo by Josh Hild from Pexels-->
    <th><img src = "https://images.pexels.com/photos/5845692/pexels-photo-5845692.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" 
        alt = "Suspension Bridge" height = "256" width = "256" title = "Photo by Charles Parker from Pexels"> </th> 
        <!-- Source: Photo by Charles Parker from Pexels-->
    <th><img src = "https://images.pexels.com/photos/7077974/pexels-photo-7077974.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" 
        alt = "Train tracks under bridge" height = "256" width = "256" title = "Photo by Laura Tancredi from Pexels"> </th> 
        <!-- Source: Photo by Laura Tancredi from Pexels-->
</tr>

<tr>
    <th><img src = "https://images.pexels.com/photos/3791135/pexels-photo-3791135.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" 
        alt = "Alleyway" height = "256" width = "256" title = "Photo by Nishant Patel from Pexels"></th> 
        <!-- Source: Photo by Nishant Patel from Pexels-->
    <th><img src = "https://images.pexels.com/photos/5466393/pexels-photo-5466393.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" 
        alt = "Bunkyo City, Japan" height = "256" width = "256" title = "Photo by DLKR from Pexels"></th> 
        <!-- Source: Photo by DLKR from Pexels-->
    <th><img src = "https://images.pexels.com/photos/3703386/pexels-photo-3703386.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" 
        alt = "Valkenburg, Netherlands" height = "256" width = "256" title = "Photo by Sven Huls from Pexels"></th> 
        <!-- Source: Photo by Sven Huls from Pexels-->
</tr>

<tr>
    <th><img src = "https://images.pexels.com/photos/2704927/pexels-photo-2704927.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" 
        alt = "Alley sunset with puddles" height = "256" width = "256" title = "Photo by Josh Hild from Pexels"></th> 
        <!-- Source: Photo by Josh Hild from Pexels-->
    <th><img src = "https://images.pexels.com/photos/4050383/pexels-photo-4050383.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" 
        alt = "Denver Union Station" height = "256" width = "256" title = "Photo by Colin Lloyd from Pexels"></th> 
        <!-- Source: Photo by Colin Lloyd from Pexels-->
    <th><img src = "https://images.pexels.com/photos/3568793/pexels-photo-3568793.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" 
        alt = "Road during autumn" height = "256" width = "256" title = "Photo by Kaique Rocha from Pexels"></th> 
        <!-- Source: Photo by Kaique Rocha from Pexels-->
</tr>

</table>