body {
    padding: 3rem;
    background: #202020;
};

.container {
    margin-top: 20px;
}

.header {
    font-weight: bold;
    color: white;
}

#demo {
    color: lightgray;
    border: dashed 2px #787878;
    padding: 2rem;
}

#center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
